
.line {
  background-color: #adadad;
  height: 2px;
  width: 100%;
  margin: 8px 0;
}

.popup-box-cover {
  filter: blur(50%);
}

.navbar {
  background-color: white;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 2px solid #b0b0b0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
}


.aspect-square {
  aspect-ratio: 1 / 1;
}

.img-preview::before {
  content: "";
  display: block;
  object-fit: cover;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-image: var(--user-pic);
  background-size: cover;
  }

  .old-pic-inner {
    position: relative;
    display: inline-block;
}

.user-pic {
    transition: filter 0.2s;
}

.user-pic:hover,
.user-pic:active {
    filter: brightness(0.5);
    cursor: pointer;
}

.old-pic-inner:hover .camera-icon,
.old-pic-inner:active .camera-icon {
    opacity: 1;
    pointer-events: auto;
}

.camera-icon {
    transition: opacity 0.2s;
    cursor: pointer;
    background: #0000008c;
    padding: 54px;
    border-radius: 100%;
}

.exceed-msg {
  font-size: 12px;
  color: #f87171;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 4px;
}

.toggle-btn {
  width: 34px;
  height: 17px;
  background-color: rgb(233, 233, 233);
  border: 1px solid #ccc;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
}

.toggle-btn.active {
  background-color: #3b82f6;
  /* box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); */
}

.toggle-circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-btn.active .toggle-circle {
  transform: translateX(15px);
}

.stream-container {
  margin-top: 16px;
}

.stream-box {
  color: #000;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 4px 0;
  cursor: pointer;
  user-select: none;
}

.non-selected {
  color: #919191;
  background-color: #f1f1f1;
  cursor: not-allowed;
  user-select: none;
}

.enabled {
  color: #000;
  cursor: pointer;
}

.selected-stream {
  position: relative;
}

.selected-stream::after {
  content: '';
  position: absolute;
  background-image: url("https://img.icons8.com/color/20/ok--v1.png");
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px;
  top: -5px;
  right: -5px;
}

.link-title-options {
  padding: 4px;
  user-select: none;
}

.link-title-options:hover {
  cursor: pointer;
  background-color: #ebebeb;
  border-radius: 6px;
}
.link-box {
  color: #919191;
  cursor: not-allowed;
  user-select: none;
}
.linkEnabled {
  color: #000;
  cursor: auto;
}

.view-comment-btn {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.view-comment-btn.transitioning {
  opacity: 0.5;
}

.side-popup-box {
  box-shadow: 0px 0px 10px 0px #262626;;
}
  /* @media (min-width: 375px) {
    
  }
   
  @media (min-width: 425px) {
    
  }
  
  @media (min-width: 768px) {
    
  } */
  
  @media (min-width: 1024px) {
    .navbar {
        width: 250px;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 1rem;
        border-top: none;
        position: static;
        top: 0;
        left: 0;
        gap: 25px;
    }
  
    .nav-link {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
    }
    .nav-container {
      height: 100vh;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: space-between;
      border-right: 2px solid #6a6a6a;
    }
    .main-container {
      display: flex;
      align-items: flex-start;
    }
    .nav-title {
      font-size: medium;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .left-nav-bracket {
      width: 950px;
      height: 100vh;
    }
  }
  
  @media (min-width: 1440px) {
    .left-nav-bracket {
      width: 720px;
      height: 100vh;
    }
    .navbar {
      width: 300px;
    }
  }
  
  @media (min-width: 1280px) {
    .left-nav-bracket {
      width: 710px;
      height: 100vh;
    }
    .navbar {
      width: 250px;
    }
  }
  
  @media (min-width: 1281px) {
    .left-nav-bracket {
      width: 620px;
      height: 100vh;
    }
    .navbar {
      width: 250px;
    }
  }
  
  @media (min-width: 1536px) {
    .left-nav-bracket {
      width: 570px;
      height: 100vh;
    }
    .navbar {
      width: 250px;
    }
  }
  
  @media (min-width: 2560px) {
    .left-nav-bracket {
      width: 320px;
      height: 100vh;
    }
  }