@media (min-width: 375px) {
  
}

@media (min-width: 425px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  
}

@media (min-width: 1440px) {
  
}

@media (min-width: 1280px) {
  
}

@media (min-width: 1281px) {
  
}

@media (min-width: 1536px) {
  
}

@media (min-width: 2560px) {
  
}

.gradient-box {
    background: linear-gradient(to bottom, #00000069 1%, transparent 20%, transparent 80%, #00000069 99%);
    box-shadow: 0 0 10px 0px #00000052; /* Inner shadow for more depth */
  }
.gradient-2box {
    background: linear-gradient(to bottom, transparent 20%, transparent 70%, #00000069 99%);
    box-shadow: 0 0 10px 0px #00000052; /* Inner shadow for more depth */
  }

.line {
  background-color: #adadad;
  height: 2px;
  width: 100%;
  margin: 8px 0;
}
.point-gap {
  @apply text-zinc-400
}
.point-gap::before {
  content: '•';
}
.close {
  padding: 0.25rem;
  border-radius: 9999px;
  cursor: pointer;
  display: none;
  transition-duration: 200ms;
}

.close:active {
  background-color: #d4d4d8;
}
.line-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) {
  .close {
      display: block;
  }
}
